#email {
    position: relative;
    display: block;
    visibility: hidden;
}

#email::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: 'example@mail.ru';
    visibility: visible;
}

#nick {
    font-size: 0;
}

.chatHeader .chatTitle {
    visibility: hidden;
}

.chatHeader .chatTitle::before {
    visibility: visible;
    content: ' ChaTemplate - CSS for Chatovod';
}

.chat {
    border: 0;
}

// options

.has-account #sign-in-label,
.has-account #captcha-block,
.has-account #new-nick-label {
    display: block;
}

.has-account #account-info,
.has-account #existing-nick-label {
    display: none;
}

// end