.chatFull .transparent {
    opacity: 1;
}

:root {
    --bgcolor: #b6e245;
    --bghover: #a0ca2d;
    --color: #ffffff;
    --bgtext: #ebebeb;
    --texts: #21263d;
    --label: #999999;
    --radius: 20px; 
    --w: 300px;
    --h: 370px;
    --pdlr: 25px;
}

* {
    box-sizing: border-box;
}

.center-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: var(--w);
    height: var(--h);

    border-radius: var(--radius);
    background-color: var(--color);
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.chatFull .content {
    padding-top: 0 !important;
    display: block;
    height: 100%;
}

.chatFull .content form {
    height: 100%;
}

#sign-in-label,
#account-info {
    padding: var(--pdlr) 0;
    width: 100%;
    text-align: center;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: var(--bgcolor);
}

#sign-in-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-label a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color);
}

#account-info {
    font-size: 0;
}

#email {
    font-size: 16px;
    color: var(--color);
}

#new-nick-label,
#existing-nick-label,
#captcha-label {
    color: var(--label);
}

#new-nick-label,
#existing-nick-label,
#nick,
#captcha-block,
#captcha-label,
#captcha-input,
#join-buttons,
.dialog-buttons button {
    padding: 6px var(--pdlr);
    font-weight: 600;
}

#nick {
    margin: auto;
    display: block;
    width: calc(100% - (var(--pdlr) * 2));
}

#nick,
#captcha-input {
    padding: 0 var(--pdlr);
    min-height: 40px !important;
    color: #000;
    border: 0;
    border-radius: var(--radius);
    background-color: var(--bgtext);
}

#captcha-block a {
    border-bottom: 0;
}

#captcha-block img {
    width: 100%;
    object-fit: contain;
}


#join-buttons a {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: var(--bgcolor);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

#join-chat-button2 {
    margin-top: 15px;
    display: block;
    width: 100%;
    min-height: 40px;
    text-transform: uppercase;
    color: var(--color);
    cursor: pointer;
    border: 0;
    border-radius: var(--radius);
    background-color: var(--bgcolor);
}

.dialog-buttons button {
    border-radius: var(--radius);
    background-color: var(--bgcolor);
}

/* settings for inputs */

.chatFooter .chatFooterWrapper .chatPanel .chatSendButtonPanel .chatSendButton,
.chatSendExitPanel select {
    width: auto;
    min-height: 27px;
    height: auto;
}

input[type="text"] {
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    min-height: 27px;
    color: #000;
    border: 0;
    border-radius: var(--radius);
    background: var(--bgtext);
}

.chatFooter .chatFooterWrapper .chatPanel .chatSendTextPanel {
    right: 220px;
}

input[type="button"],
input[type="submit"],
select {
    padding: 5px 15px;
    color: var(--color);
    cursor: pointer;
    border: 0;
    border-radius: var(--radius);
    background-color: var(--bgcolor);
}

select option {
    color: var(--color) !important;
}

input[type="button"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
select:focus {
    outline: none;
}

#join-chat-button,
.dialog-buttons button {
    padding: 10px var(--pdlr);
}

/* эффект при наведении (опционально) можно удалить весь код ниже */

#join-chat-button:hover,
#join-chat-button2:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
select:hover,
.dialog-buttons button:hover {
    background-color: var(--bghover);
}